.App {
  text-align: center;
  border: 1px solid black;
  width: 480px;
  position: relative;
  margin-left: 460px;
  background-color: rgb(72, 66, 66);
  border-radius: 25px;
  align-items: center;
}

img {
  display: flex inline-block;
  height: 100px;
  position: relative;
  left: 10px;
  top: 80px;
  border-radius: 5px;
}
main {
  background-color: black;
  border: 1px solid black;
  overflow-x: hidden;
  min-height: 100%;
  min-width: 100%;
  padding-top: 50px;
}

ul {
  list-style: none;
  color: rgb(39, 170, 170);
}

.status {
  display: flex;
  position: relative;
  left: 150px;
  top: 38px;
}

h1 {
  position: relative;
  bottom: 100px;
  color: rgb(39, 170, 170);
}
